<div class="row">
    <div class="col-lg-4" *ngFor="let recipe of recipesList">
        <div class="single-recipe"  *ngIf="!isLoading">
            <ngx-skeleton-loader 
            count="5" 
            appearance="line"
            style="width: 100%;height: 220px;"
           
              ></ngx-skeleton-loader>
          </div>
            <div class="single-recipe" *ngIf="isLoading">
                <div class="recipe-image">
                    <a href="#" >
                        <img [src]="'../../assets/img/'+recipe.image" alt="">
                    </a>
                </div>
                <div class="recipe-detail">
                    <h3>
                        <a href="#">
                            {{recipe.name}}
                        </a>
                    </h3>
                    <div class="heading-bell">
                        <i class="fa fa-bell"></i>
                    </div>
                    <p>
                        {{recipe.recipe}}
                    </p>
                    <a class="btn-save-recipe" (click)="SaveRecipe(recipe)">Save</a>
                </div>
            </div>
    </div>
</div>



