.box-search{
    position: relative;
    input{
        border: 0;
        width: 100%;
        padding: 5px 10px;
        border-bottom: 1px solid #ff5247;
        font-size: 13px;
        line-height: 25px;
        height: 36px;
        &:focus{
            border-color: #ff5247;
        }
        &:focus-visible{
            border-color: #ff5247;
            outline: unset;
        }
    }
    i{
        position: absolute;
        right: 20px;
        top: 10px;
        color: #aaa;
    }
    .box-autocomplate{
        .list-search{
            position: absolute;
            right: 0;
            left: 0;
            top: 36px;
            z-index: 111;
            background-color: #fff;
            box-shadow: 0 0 10px #eee;
            width: 100%;
            max-height: 150px;
            overflow-y: auto;
            .item-search{
                cursor: pointer;
                a{
                    color: #333;
                    display: inline-block;
                    margin: 10px;
                    flex-grow: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &:hover{
                    background-color: #eee;
                }
            }
        }
    }
}