/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');
@import url('../node_modules/ngx-toastr/toastr-old.css');
body{
    position: relative;
    font-size: 13px;
}
a{   
    outline: none !important;
    text-decoration: none;
    color: inherit;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}